:root.theme-light {
  --background-image: url(../images/cover-image-light.png);
  --accent-color: #353430;
  --accent-color-hover: #32312d66;
  --title-color: #ffc2e6;
  --shadow-title-color: #ff8dcb;
  --title-font-color: #353430;
  --title-background-color: #ff8dcb;
  --main-background-color: #fff1f7;
  --main-text-color: #353430;
  --link-shadow-color: #ff8dcb;
  --link-border-color: #353430;
}
.theme-light .visual-detail {
  visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(../images/cover-image-light.png);
    --accent-color: #353430;
    --accent-color-hover: #32312d66;
    --title-color: #ffc2e6;
    --shadow-title-color: #ff8dcb;
    --title-font-color: #353430;
    --title-background-color: #ff8dcb;
    --main-background-color: #fff1f7;
    --main-text-color: #353430;
    --link-shadow-color: #ff8dcb;
    --link-border-color: #353430;
  }
  .visual-detail {
    visibility: hidden;
  }
}
