/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --background-image:url(../images/cover-image-light.png);
  --accent-color:#353430;
  --accent-color-hover:#32312D66;
  --title-color:#FFC2E6;
  --shadow-title-color:#FF8DCB;
  --title-font-color:#353430;
}
.theme-light .visual-detail{
  display: none;
}
.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем только те же переменные, что и выше */
  }

  /* Остальные стили, только при необходимости */
} 