/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background: var(--background-image-dark);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #000028;
}
.header{
  block-size:100vw;
  min-block-size: 668px;
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px;
  position: relative;
}
.decorated-zone::before{
  content: ' ';
  position: absolute;
  width: 25px;
  height: 25px;
  top: 10px;
  right: 10px;
  border-top: 1px solid #FF0070;
  border-right: 1px solid #FF0070;
}
.decorated-zone::after{
  content: ' ';
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid #FF0070;
  border-left: 1px solid #FF0070;
}
.visual-detail{
  align-self: start;
  justify-self: end;
  position: relative;
  padding-right: 28px;
  font-family: 'IBM Plex Mono',sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: #FF0070;
}
.visual-detail::after{
  content: ' ';
  display: block;
  position: absolute;
  top: 8px;
  right: 9px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #FF0070;
  box-shadow: 0px 0px 4px 2px #FF0070;
}
.header__theme-menu{
  align-self: start;
  justify-self: end;
}
.header__theme-menu-list{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.header__theme-menu-item button{
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #FF0070;
  text-transform: lowercase;
  background-color: transparent;
  border: 0;
  padding: 1.5px 13px;
}
.header__theme-menu-item button:hover{
  outline: 1px solid #FF007066;
}
.header__title{
   font-family: 'IBM Plex Mono', sans-serif;
   font-size: 116px;
   font-weight: 700;
   line-height: 83%;
   color: #DB00FF;
   text-shadow: 4px 4px 0 var(--accent-color);
}
.header__text{
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #000028;
  line-height: 23.4px;
  background-color: #FF0070;
  align-self: start;
  justify-self: end;
}